.length,
.month-selector,
.search {
    display: table-cell;
    padding-bottom: .4em;
    white-space: nowrap;
}

.month-selector {
    padding-left: 2%;
}

.search {
    padding-left: 2%;
    width: 100%;
    text-align: right;
}

#month-selector {
    margin-left: .25em;
}

#search {
    margin-left: .25em;
    width: calc(100% - 4em);
    max-width: 24em;
}

.sticky {
    position: sticky;
    font-weight: $font-weight-bold;
    -webkit-user-select: none;
    user-select: none;
}

#headers,
.row {
    box-sizing: border-box;
    display: table;
    contain: content;
    width: 100%;
    border-collapse: collapse;
    background-color: $color-primary;
}

.row-dark {
    background-color: $color-secondary;
}

.sort,
.row>div {
    box-sizing: border-box;
    display: table-cell;
    position: relative;
    padding: 0 4px 1px;
    line-height: 1.25;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid var(--color-border);
    border-top: none;
}

.sort {
    padding-right: 1.1em;
    text-align: left;
}

#headers {
    z-index: 2;
    contain: layout style;
    top: 0;
    height: 2em;
    cursor: pointer;
    border-top: 1px solid var(--color-border);
}

.group {
    z-index: 1;
    top: 2em;
    scroll-margin-top: 2em;
    background-color: $color-secondary;
}

.group>div {
    padding: 3px 0 4px;
}

#pad {
    display: table;
    visibility: hidden;
    width: 100%;
    table-layout: fixed;
}

#pad>div {
    display: table-cell;
}

.pad-row {
    padding: 0 5px 2px;
    line-height: 1.25;
}

.row>div:nth-child(odd) {
    text-align: center;
}

.row>div:nth-child(2) {
    white-space: normal;
}

@media (width < 768px) {
    .sort:nth-child(4),
    #pad>div:nth-child(4),
    .row>div:nth-child(4) {
        display: none;
    }
}

.star-btn {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1.4em;
    width: 1.4em;
    cursor: pointer;
    opacity: 0;
    transition: all .2s;
}

.row:hover .star-btn {
    visibility: visible;
    opacity: .1;
}

.star-active {
    visibility: visible;
    opacity: .8 !important;
}

.sort-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 80%;
    width: 1em;
    cursor: default;
    opacity: .2;
    transition: opacity .2s;
}

.sort-icon,
.sort-icon::before,
.sort-icon::after {
    position: absolute;
    height: 2px;
    width: .8em;
    border-radius: 2px;
    background-color: $color-font;
    transition: width .1s;
}

.sort-icon {
    top: 0;
    bottom: 0;
    left: 10%;
    margin: auto;
}

.sort-icon::before {
    content: '';
    bottom: 4px;
}

.sort-icon::after {
    content: '';
    top: 4px;
}

.sort:hover .sort-btn {
    opacity: .6;
}

.sort-asc .sort-icon,
.sort-desc .sort-icon {
    width: .6em;
}

.sort-asc .sort-icon::before,
.sort-desc .sort-icon::after {
    width: .4em;
}

.filter .sort-icon {
    width: .4em;
}

.menu-active {
    z-index: 1;
}

.menu-active .sort-menu {
    display: flex;
}

.sort-menu {
    display: none;
    position: absolute;
    padding: .4em;
    flex-direction: column;
    align-items: center;
    cursor: default;
    white-space: nowrap;
    background-color: $color-background;
    border: 1px solid $color-border;
    box-shadow: 0 .1em .25em .1em $color-shadow;
}

.sort-list label {
    display: flex;
    padding: .25em 0;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}

.sort-list input[type="checkbox"] {
    margin-right: .25em;
    height: 1.25em;
    width: 1.25em;
}

.sort-input {
    flex-direction: row;
    padding-right: .2em;
}

.sort-input input:last-of-type {
    margin-right: .25em;
}

#menu-date .cross {
    margin-left: .25em;
}

#menu-title {
    width: 32em;
    max-width: 80vw;
}

#menu-title .star {
    height: 1.4em;
    width: 1.4em;
}

#menu-title input[type="checkbox"] {
    padding-top: 0;
}

#menu-title input[type="search"] {
    margin-right: .25em;
    width: 100%;
}

#stars {
    padding-bottom: 1px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

#menu-vol input {
    width: 2em;
}

#menu-vol input:first-child {
    text-align: right;
}

.list-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.list-border {
    margin-bottom: .4em;
    padding-bottom: .4em;
    border-bottom: 1px solid $color-rule;
}

.row-text {
    width: 100%;
    font-weight: normal;
    white-space: normal;
    text-wrap: balance;
    -webkit-user-select: text;
    user-select: text;
}

.menu-btn {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
    border-radius: 20%;
    transition: background-color 0.2s;
}

.menu-btn:hover {
    opacity: .8;
}

.menu-btn:active {
    background-color: $color-rule;
    opacity: 1;
}

.menu-btn.disabled {
    cursor: default;
    opacity: .2;
}

#loading {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4em;
    width: 4em;
    margin: auto;
    border-radius: 50%;
    border-top: .2em solid $color-shadow;
    border-right: .2em solid transparent;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@media (width < 544px), (hover: none) {
    .sort {
        padding-right: 4px;
    }

    .sort:nth-child(odd) {
        text-align: center;
    }

    .sort-btn {
        display: none;
    }
}
