.length,
.search {
    display: table-cell;
    padding-bottom: .4em;
    white-space: nowrap;
}

.search {
    padding-left: 2em;
    width: 100%;
    text-align: right;
}

#search {
    margin-left: .25em;
    width: 80%;
    max-width: 24em;
}

thead th.sort,
tbody th {
    position: sticky;
    background-clip: padding-box;
    -webkit-user-select: none;
    user-select: none;
}

thead th.sort {
    top: 0;
    height: 2em;
    cursor: pointer;
    background-color: $color-primary;
}

tbody th {
    top: 2em;
    scroll-margin-top: 2em;
    background-color: $color-secondary;
}

th.sort::before,
tbody th::before,
tbody th::after {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1.8px solid $color-border;
}

th.sort::before,
tbody th::before {
    top: -1px;
}

tbody th::after {
    bottom: -1px;
}

.sort-btn {
    display: none;
}

@media (min-width: 544px) {
    thead th.sort {
        padding-right: 1.1em;
        text-align: left;
    }

    @media (hover: hover) {
        .sort-btn {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 80%;
            width: 1em;
            cursor: default;
            opacity: .2;
            transition: opacity .2s;
        }
    }
}

.sort-icon,
.sort-icon::before,
.sort-icon::after {
    position: absolute;
    height: 2px;
    width: .8em;
    border-radius: 2px;
    background-color: $color-font;
    transition: width .1s;
}

.sort-icon {
    top: 0;
    bottom: 0;
    left: 10%;
    margin: auto;
}

.sort-icon::before {
    content: '';
    bottom: 4px;
}

.sort-icon::after {
    content: '';
    top: 4px;
}

.sort:hover .sort-btn {
    opacity: .6;
}

.sort-asc .sort-icon,
.sort-desc .sort-icon {
    width: .6em;
}

.sort-asc .sort-icon::before,
.sort-desc .sort-icon::after {
    width: .4em;
}

.filter .sort-icon {
    width: .4em;
}

.menu-active {
    z-index: 2;
}

.menu-active .sort-menu {
    display: flex;
}

.sort-menu {
    display: none;
    position: absolute;
    padding: .4em;
    flex-direction: column;
    align-items: center;
    cursor: default;
    white-space: nowrap;
    background-color: $color-background;
    border: 1px solid $color-border;
    box-shadow: 0 .1em .25em .1em $color-shadow;
}

.sort-list label {
    display: flex;
    padding: .25em 0;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}

.sort-list input[type="checkbox"] {
    margin-right: .25em;
    height: 1.25em;
    width: 1.25em;
}

.sort-input {
    flex-direction: row;
    padding-right: .2em;
}

.sort-input input:last-of-type {
    margin-right: .25em;
}

#menu-title {
    width: 32em;
    max-width: 100%;
}

#menu-title .star {
    height: 1.4em;
    width: 1.4em;
}

#menu-title>.list-border>input {
    margin-right: .25em;
    width: 100%;
}

#stars {
    padding-bottom: 1px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}

#menu-vol input {
    width: 2em;
}

#menu-vol input:first-child {
    text-align: right;
}

.list-row {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.list-border {
    margin-bottom: .4em;
    padding-bottom: .4em;
    border-bottom: 1px solid $color-rule;
}

.row-text {
    width: 100%;
    font-weight: normal;
    white-space: normal;
    text-wrap: balance;
    -webkit-user-select: text;
    user-select: text;
}

.menu-btn {
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
    border-radius: 20%;
    transition: background-color 0.2s;
}

.menu-btn:hover {
    opacity: .8;
}

.menu-btn:active {
    background-color: $color-rule;
    opacity: 1;
}

.menu-btn.disabled {
    cursor: default;
    opacity: .2;
}

.star-btn {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1.4em;
    width: 1.4em;
    cursor: pointer;
    opacity: 0;
    transition: all .2s;
}

td:hover .star-btn {
    visibility: visible;
    opacity: .1;
}

.star-active {
    visibility: visible;
    opacity: .8 !important;
}

#loading {
    z-index: -1;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4em;
    width: 4em;
    margin: auto;
    border-radius: 50%;
    border-top: .2em solid $color-font;
    border-right: .2em solid transparent;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
